.form{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.form input{
    border: 1px solid #a9a9a9;
    padding: 5px 5px 5px 10px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    flex-grow: 1;
}
.form button{
    background-color: #4a89dc;
    color: #fff;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    border: 0;
    outline: none;
    cursor: pointer;
    min-width: 150px;
}
.form button:hover{
    opacity: 0.9;
}